<template lang="pug">
  table.p-table
    p-table-header(:headerData="header" :sort="sort" @updateSort="updateSort")
      template(#default="{ cell }" v-if="$scopedSlots.headerCell")
        slot(name="headerCell" :cell="cell")

      template(#sorter="{ cell }" v-if="$scopedSlots.headerSorter")
        slot(name="headerSorter" :cell="cell")

    p-table-body(
      :body-data="bodyData"
      @rowClicked="onRowClick"
      @cellClicked="onCellClick"
    )
      template(#default="{ cell, index, cellIndex }" v-if="$scopedSlots.bodyCell")
        slot(name="bodyCell" :cell="cell" :index="index" :cell-index="cellIndex")
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import PTableHeader from '@/components/PTable/PTableHeader/PTableHeader.vue'
import PTableBody from '@/components/PTable/PTableBody/PTableBody.vue'
import TableMixin from '@/mixins/table/tableMixin'

@Component({
  components: { PTableBody, PTableHeader }
})
export default class PTable extends mixins(TableMixin) {}
</script>

<style lang="sass">
.p-table
  width: 100%
.p-td
  padding-right: 48px
  &:first-of-type
    padding-left: 16px
  &:last-of-type
    padding-right: 16px
</style>
