<template lang="pug">
  .p-modals-container
    .p-modals-container__modals(ref="modals")
      slot(name="modals")
    .p-modals-container__body
      slot
</template>

<script lang="ts">
import { Vue, Component, Provide, Watch } from 'vue-property-decorator'
import { ModalsStatusesType, ModalType, ModalWatcher } from '@/components/PModalsContainer/modalsTypes'
import { RegisterInjectionType } from '@/globalTypes'

@Component({})
export default class PModalsContainer extends Vue {
  $refs: {
    modals : HTMLElement
  }

  modals : ModalType[] = []
  watchers : ModalWatcher[] = []
  modalStatuses : ModalsStatusesType = {}
  hasOpenedModals : boolean = false

  @Provide() providedModals : RegisterInjectionType = {
    register: this.register,
    unregister: this.unregister
  }

  @Watch('modalStatuses', { deep: true, immediate: true })
  modalStatusesHandler (modalStatuses) {
    this.hasOpenedModals = Object.values(modalStatuses).includes(true)
  }

  @Watch('hasOpenedModals')
  handler (val) {
    if (val) {
      document.body.classList.add('modal-open')
    } else {
      document.body.classList.remove('modal-open')
    }
  }

  register (modal : ModalType) {
    this.modals.push(modal)
    const watcher = this.createModalWatcher(modal)
    this.watchers.push(watcher)
    try {
      this.$refs.modals.appendChild(modal.$el)
    } catch (e) {
      console.error('error registering modal:', e)
    }
  }

  unregister (modal : ModalType) {
    const found = this.modals.find(x => x._uid === modal._uid)
    if (!found) return

    try {
      this.$refs.modals.removeChild(found.$el)
    } catch (e) {
      console.error('error unregistering modal:', e)
    }

    this.watchers = this.watchers.filter(x => x._uid !== found._uid)
    this.modals = this.modals.filter(x => x._uid !== found._uid)
    this.$delete(this.modalStatuses, found._uid)
  }

  createModalWatcher (modal : ModalType) {
    const modalWatcher = modal => {
      return modal.$watch('value', val => {
        this.$set(this.modalStatuses, modal._uid, val)
      }, { immediate: true })
    }

    return {
      _uid: modal._uid,
      valid: modalWatcher(modal),
      shouldValidate: undefined
    }
  }
}
</script>

<style lang="sass">
body.modal-open
  overflow: hidden
</style>
