<template lang="pug">
  .p-modal
    transition(:name="transition")
      slot(v-if="value")
</template>

<script lang="ts">
import { Vue, Component, Prop, Inject } from 'vue-property-decorator'
import { RegisterInjectionType } from '@/globalTypes'

@Component({})
export default class PModal extends Vue {
  @Prop({ default: false }) value : boolean
  @Prop({ default: null }) transition: string
  @Inject({ default: null }) providedModals : RegisterInjectionType

  mounted () {
    this.providedModals && this.providedModals.register(this)
  }

  beforeDestroy () {
    this.$emit('input', false)
    this.providedModals && this.providedModals.unregister(this)
  }
}
</script>
