<template lang="pug">
  .p-flex-table__header
    .p-flex-table__header__col(
      v-for="(cell, index) in headerData"
      :cell="cell" :class="[cell.class]"
      @click="onClick(cell)"
      :key="cell.id || index"
    )
      .p-flex-table__header__col__content
        slot(:cell="cell")
          p-flex-table-header-cell(:cell="cell")
        p-table-sorter(v-if="sort && cell.sortBy" :sort="sort" :sort-by="cell.sortBy")
          slot(name="sorter" :cell="cell")
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import PFlexTableHeaderCell from '@/components/PFlexTable/PFlexTableHeader/PFlexTableHeaderCell.vue'
import PTableSorter from '@/components/PTable/PTableHeader/PTableSorter.vue'
import tableHeaderMixin from '@/mixins/table/tableHeaderMixin'

@Component({
  components: { PTableSorter, PFlexTableHeaderCell }
})
export default class PFlexTableHeader extends mixins(tableHeaderMixin) {}
</script>

<style lang="sass" scoped>
.p-flex-table__header
  display: flex
  align-items: center

.p-flex-table__header__col
  background-color: #8d9dab
  font-size: 10px
  font-weight: bold
  line-height: 1.8
  letter-spacing: 1.1px
  color: #ffffff
  text-transform: uppercase
  cursor: pointer
  flex: 1
  &:first-of-type
    padding-left: 16px
  &:last-of-type
    padding-right: 16px
  &:hover
    .p-sorter
      opacity: 1

.p-flex-table__header__col__content
  display: flex
  align-items: center
</style>
