<template lang="pug">
  .p-flex-table__header__default-cell {{ cell.content }}
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { HeaderCellType } from '@/components/PTable/PTableTypes'

@Component({})
export default class PFlexTableHeaderCell extends Vue {
  @Prop() cell : HeaderCellType
}
</script>

<style lang="sass" scoped>

</style>
