<template lang="pug">
  .p-radio
    .p-radio__input
      input(
        :id="_uid"
        v-bind="{ ...$attrs, ...$props }"
        type="radio"
        :value="radioValue"
        v-model="inputValue"
      )
    label.p-radio__container(:for="_uid")
      .p-radio__tick(
        :class="{'active': isActive}"
      )
        .p-radio__tick__icon
          slot(name="icon")

      .p-radio__label
        slot
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'

@Component({
  inheritAttrs: false
})
export default class PRadio extends Vue {
  @Prop({
    default: ''
  }) radioValue: any
  @Prop({
    default: ''
  }) value: any

  @Watch('isActive', { immediate: true })
  onIsActiveUpdate (isActive) {
    this.$emit('active', isActive)
  }

  get inputValue () {
    return this.value
  }
  set inputValue (value) {
    this.$emit('input', value)
  }

  get isActive () {
    return this.radioValue && this.value
      ? this.radioValue === this.value
      : false
  }
}
</script>
