<template lang="pug">
  .p-checkbox
    p-input-block.p-checkbox__input(
      type="checkbox"
      @click.native.stop="toggleValue"
      ref="input"
      :readonly="readonly"
      :value="value"
    )
    .p-checkbox__container(@click.stop="toggleValue")

      .p-checkbox__tick(:class="{'active': value}")
        .p-checkbox__tick__icon
          slot(name="icon")

      .p-checkbox__label
        slot
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import PInputBlock from '@/components/PInputBlock/PInputBlock.vue'

@Component({
  components: { PInputBlock }
})
export default class PCheckbox extends Vue {
  @Prop({
    default: false
  }) readonly: boolean
  @Prop({
    default: false
  }) value: boolean

  get inputValue () {
    return this.value
  }

  set inputValue (value) {
    this.$emit('input', value)
  }

  @Watch('value')
  onValueChange (value) {
    // @ts-ignore
    if (this.$refs.input && this.$refs.input.$refs.input) {
      // @ts-ignore
      this.$refs.input.$refs.input.checked = value
    }
  }

  toggleValue () {
    if (this.readonly) {
      this.onValueChange(this.value)
      return
    }
    this.inputValue = !this.inputValue
  }

  mounted () {
    this.onValueChange(this.value)
  }
}
</script>
