<template lang="pug">
  .p-masked-input
    p-input-block.p-input-block--masked(
      v-on="listeners"
      v-bind="{ ...props, ...$attrs }"
      :value="inputValue"
      ref="input"
    )
    .p-masked-input__mask(v-html="computedVisibleMask")
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import PInputBlock from '@/components/PInputBlock/PInputBlock.vue'

@Component({
  components: { PInputBlock },
  inheritAttrs: false
})
export default class PMaskedInput extends Vue {
  $refs: {
    input: HTMLInputElement & Vue
  }

  @Prop() value: string | number
  @Prop() placeholder: string
  @Prop({
    default: '##/##/####'
  }) mask: string
  @Prop({
    default () {
      return {
        '#': { pattern: /\d|\// }
      }
    }
  }) tokens: string
  @Prop() inputDecorator: Function
  @Prop() filter: Function
  @Prop({
    default: 'DD/MM/YYYY'
  }) visibleMask: string

  mounted () {
    this.onInput(this.value)
  }

  get computedVisibleMask () {
    const input = this.inputValue
    const mask = this.visibleMask
    let output = ''

    for (let i in (mask as any)) {
      const letter = mask[i]

      if (parseInt(i) < String(input).length) {
        output += `<span>${letter}</span>`
      } else {
        output += letter
      }
    }

    if (this.mask.length === String(this.inputValue).length) {
      return ''
    } else {
      return output
    }
  }

  get listeners () {
    return {
      ...this.$listeners,
      input: (event) => this.onInput(event)
    }
  }

  get props () {
    const { mask, ...props } = this.$props
    return {
      ...props
    }
  }

  get inputValue () {
    return this.value
  }
  set inputValue (value) {
    this.$emit('input', value)
  }

  onInput (event) {
    const maskedInput = this.applyMask(event)
    const filteredInput = this.applyFilter(maskedInput)

    this.$emit('input', filteredInput)
    this.$nextTick(() => {
      if (this.$refs.input) {
        if (this.$refs.input.$refs.input) {
          // @ts-ignore
          this.$refs.input.$refs.input.value = filteredInput
        }
      }
    })
  }

  applyMask (value) {
    const mask = this.mask
    let output = ''
    let valueIndex = 0
    let maskIndex = 0

    while (valueIndex < value.length && maskIndex < mask.length) {
      let valueChar = value[valueIndex]
      let maskChar = mask[maskIndex]
      let token = this.tokens[maskChar]

      if (token) {
        if (token.pattern.test(valueChar)) {
          output += valueChar
          valueIndex++
          maskIndex++
        } else {
          break
        }
      } else {
        if (valueChar === maskChar) {
          valueIndex++
        }
        output += maskChar
        maskIndex++
      }
    }

    return output
  }

  applyFilter (value) {
    if (this.filter) {
      return this.filter(value)
    } else {
      return value
    }
  }
}
</script>

<style lang="sass">
.p-masked-input
  position: relative
  &__mask
    position: absolute
    top: 0
    left: 0
    span
      opacity: 0
</style>
