<template lang="pug">
  .p-dropdown(
    v-click-outside="closeDropdown"
    :class="{ 'p-dropdown--open': doShowDropdown, 'p-dropdown--readonly': readonly}"
    @keyup.esc="closeDropdown"
    @keyup.enter="selectCurrent"
    @keyup.up.prevent="onUp"
    @keyup.down.prevent="onDown"
    @keydown.tab="onTab"
    tabindex="-1"
  )
    .p-dropdown__input__container
      slot(
        name="input"
        v-bind="{ ...slotProps }"
      )
        .p-dropdown__input(@click="toggleDropdown") {{ displayValue }}

      select.p-dropdown__select(
        :multiple="multiple"
        v-model="selectValue"
        :readonly="readonly"
        tabindex="-1"
      )
        option(
          v-for="option in selectOptions"
          :value="option.value"
          :key="option.value"
        ) {{ option.label }}

    transition(
      :name="transition"
    )
      .p-dropdown__dropdown(
        v-if="assertShowDropdown"
        ref="dropdown"
      )
        slot(name="dropdownContent" :options="computedOptions" :on-click="onSelect")

          slot(
            name="dropdownHeader"
            v-bind="{ ...slotProps }"
          )

          .p-dropdown__item__container(
            v-for="(option, index) in computedOptions" :key="option.value" v-if="option"
          )
            slot(
              :label="option.label"
              :value="option.value"
              :option="option"
              :on-click="onSelect"
              :onClick="onSelect"
              :isSelected="option.isSelected"
              :currentIndex="currentIndex"
              v-bind="{ ...slotProps, option, label: option.label, value: option.value, isSelected: option.isSelected, index}"
            )
              .p-dropdown__item(@click="onSelect(option)") {{ option.label }}

          slot(
            name="dropdownFooter"
            v-bind="{ ...slotProps }"
          )
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { DropdownOption, DropdownValue } from '@/components/PDropdown/PDropdown.types'
import ClickOutside from 'vue-click-outside'

@Component({
  directives: { ClickOutside }
})
export default class PDropdown extends Vue {
  @Prop({
    default: ''
  }) value: DropdownValue
  @Prop({
    default: false
  }) multiple: boolean
  @Prop({
    default () {
      return []
    }
  }) options: DropdownOption[]
  @Prop({
    default: 'All'
  }) placeholder: string
  @Prop({
    default: ''
  }) label: string
  @Prop({
    default: 'fade-in'
  }) transition: string
  @Prop({
    default: false
  }) readonly: boolean
  @Prop({
    default: true
  }) allowEmpty: boolean
  @Prop({
    default: true
  }) closeOnSelected: boolean
  @Prop({
    default () {
      return []
    }
  }) allOptions: DropdownOption[]
  @Prop({
    default: true
  }) hideEmpty: boolean
  @Prop({ default: false }) selectOnTab: boolean

  currentIndex = 0
  doShowDropdown = false

  @Watch('doShowDropdown', { immediate: true })
  onDoShowDropdownUpdated (value) {
    this.$emit('doShowDropdownUpdated', value)
  }

  @Watch('currentIndex', { immediate: true })
  onCurrentIndexUpdate (currentIndex) {
    this.$emit('currentIndexUpdated', currentIndex)
  }

  get displayValue (): string {
    const selectedOptions = this.computedOptions.filter(x => x.isSelected).map(x => x.label)

    if (selectedOptions.length) {
      return selectedOptions.join(', ')
    }
    return this.placeholder
  }

  get selectValue () : DropdownValue {
    if (this.multiple) {
      if (Array.isArray(this.value)) {
        return this.value
      } else {
        return [
          this.value
        ]
      }
    }
    return this.value
  }

  set selectValue (value: DropdownValue) {
    if (!this.readonly) {
      this.$emit('input', value)
    }
  }

  get computedOptions (): DropdownOption[] {
    if (!this.options) {
      return []
    }
    return this.options.map(option => {
      return {
        ...option,
        isSelected: this.isOptionSelected(option)
      }
    })
  }

  get canEdit () {
    return !this.readonly
  }

  get selectOptions () {
    if (this.allOptions && this.allOptions.length) {
      return this.allOptions
    } else {
      return this.computedOptions
    }
  }

  get assertShowDropdown () {
    if (this.hideEmpty && !this.computedOptions.length) {
      return false
    }

    return this.doShowDropdown
  }

  get slotProps () {
    return {
      openDropdown: this.openDropdown,
      closeDropdown: this.closeDropdown,
      doShowDropdown: this.doShowDropdown,
      setDoShowDropdown: this.setDoShowDropdown,
      toggleDropdown: this.toggleDropdown,
      options: this.options,
      onClick: this.onSelect,
      onSelect: this.onSelect,
      currentIndex: this.currentIndex,
      displayValue: this.displayValue
    }
  }

  isOptionSelected (option: DropdownOption) {
    if (Array.isArray(this.value)) {
      return this.value.includes(option.value)
    } else {
      return this.value === option.value
    }
  }

  openDropdown () {
    if (this.canEdit) {
      this.doShowDropdown = true
    }
  }

  closeDropdown () {
    if (this.canEdit) {
      this.doShowDropdown = false
    }
  }

  toggleDropdown () {
    if (this.canEdit) {
      this.doShowDropdown = !this.doShowDropdown
    }
  }

  setDoShowDropdown (value: boolean) {
    this.doShowDropdown = value
  }

  onSelect (option: DropdownOption, forcedValue: boolean | null = null) {
    const isOptionAlreadySelected = this.assertOptionAlreadySelected(option)

    if (isOptionAlreadySelected != forcedValue) { // eslint-disable-line
      this.setValue(option.value, !isOptionAlreadySelected)
    }
  }

  assertOptionAlreadySelected (option: DropdownOption) {
    if (Array.isArray(this.value)) {
      return this.value.some(x => x === option.value)
    } else {
      return this.value === option.value
    }
  }

  setValue (optionValue: DropdownValue, value: boolean) {
    if (this.readonly) {
      return
    }

    const newValue = getNewValue({
      optionValue,
      value,
      currentValue: this.value,
      isMultiple: this.multiple
    })

    if (!this.allowEmpty && isValueEmpty(newValue)) {
    } else {
      this.$emit('input', newValue)
    }

    if (!this.multiple && this.closeOnSelected && !isValueEmpty(newValue)) {
      this.closeDropdown()
    }
  }

  selectCurrent () {
    const doesOptionExists = Boolean(this.options[this.currentIndex])
    this.$emit('selectCurrent', doesOptionExists)
    if (this.doShowDropdown) {
      this.selectOption(this.currentIndex)
    }
  }

  onUp () {
    this.currentIndex--
    if (this.currentIndex < 0) {
      this.currentIndex = this.options.length - 1
    }
  }

  onDown () {
    this.currentIndex++
    if (this.currentIndex >= this.options.length) {
      this.currentIndex = 0
    }
  }

  onTab (e) {
    if (this.selectOnTab) {
      this.selectCurrent()
    }
    this.closeDropdown()
  }

  selectOption (index) {
    if (this.options[index]) {
      const alreadySelected = this.assertOptionAlreadySelected(this.options[index])
      if (!alreadySelected) {
        this.onSelect(this.options[index])
      }
    }
  }
}

const getNewValue = ({ optionValue, value, currentValue, isMultiple }: getNewValueArgs): DropdownValue => {
  if (isMultiple) {
    let newValue: any = []

    if (!Array.isArray(currentValue) && !isValueEmpty(currentValue)) {
      newValue = [
        currentValue
      ]
    } else {
      newValue = currentValue
    }

    if (value) {
      return [
        ...newValue,
        optionValue
      ]
    } else {
      return newValue.filter(x => {
        return x !== optionValue
      })
    }
  } else {
    if (value) {
      return optionValue
    } else {
      return ''
    }
  }
}

const isValueEmpty = (value: DropdownValue) => {
  if (typeof value === 'number') {
    return value == null
  } else if (typeof value === 'string') {
    return value.trim().length === 0
  } else if (Array.isArray(value)) {
    return value.length === 0
  } else {
    return false
  }
}

type getNewValueArgs = {
  optionValue: DropdownValue,
  value: boolean,
  currentValue: DropdownValue,
  isMultiple: boolean
}
</script>

<style lang="sass">
.p-dropdown
  outline: none
</style>
