<template lang="pug">
  p-dropdown.p-autocomplete(
    ref="dropdown"
    v-bind="{...$props, ...$attrs}"
    :options="filteredOptions"
    :allOptions="allOptions"
    v-model="inputValue"
    @doShowDropdownUpdated="onDoShowDropdownUpdated"
    @selectCurrent="onSelectCurrent"
    @currentIndexUpdated="currentIndexUpdated"
    :hideEmpty="assertHideEmpty"
    :selectOnTab="assertSelectOnTab"
  )

    template(#input="inputSlot")
      template(v-if="multiple")
      .p-autocomplete__selected-option(v-for="(item, index) in selectedOptions" :key="item.value" v-if="item")
        slot(name="tag" v-bind="{ ... inputSlot, ...slotOptions, item, index }")
          .p-autocomplete__selected-option--default(@click="removeOptionFromSelected(item)") {{ item.label }}

      slot(name="empty" v-bind="{ ...inputSlot, ...slotOptions }")

      slot(name="input" v-bind="{ ...inputSlot, ...slotOptions }")
        p-input-block(
          v-model="searchString"
          ref="input"
          :forceFocus="isOpen"
          :selectOnFocus="true"
          :suggestion="suggestion"
          v-bind="{...$props, ...$attrs}"
          @focus="inputSlot.openDropdown()"
        )
          template(#rightButton="")
            slot(name="inputRightButton")
          template(#error="{ errorMessage }")
            slot(name="inputError")

    template(#dropdownHeader="dropdownHeader")
      slot(name="dropdownHeader" v-bind="{ ...dropdownHeader, ...slotOptions }")

    template(#dropdownFooter="footerSlot")
      slot(name="dropdownFooter" v-bind="{ ...footerSlot, ...slotOptions }")
        .p-autocomplete__add-new-option(
          v-if="assertShowNewOption"
          @click="addOption(addNewOptionOption)"
        ) {{ addNewOptionText }}

    template(#default="optionSlot" v-if="$scopedSlots.dropdownItem")
      slot(name="dropdownItem" v-bind="{ ...slotOptions, ...optionSlot }")
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import ClickOutside from 'vue-click-outside'
import { DropdownOption, DropdownValue, InputValue } from '@/components/PDropdown/PDropdown.types'
import PDropdown from '@/components/PDropdown/PDropdown.vue'
import PInputBlock from '@/components/PInputBlock/PInputBlock.vue'
import { assertStringContainsLoose, assertEmpty } from '@/utils/strings'
import _ from 'lodash'

@Component({
  components: { PInputBlock, PDropdown },
  inheritAttrs: false,
  directives: {
    ClickOutside
  }
})
export default class PAutocomplete extends Vue {
  @Prop({ default: null }) value: DropdownValue
  @Prop({ default () { return [] } }) options: DropdownOption[]
  @Prop({ default: '' }) label: string
  @Prop({ default: '' }) placeholder: string
  @Prop({ default: false }) autosize: boolean
  @Prop({ default: true }) filterOptions: boolean
  @Prop({ default: false }) multiple: boolean
  @Prop({ default: false }) excludeSelected: boolean
  @Prop({ default: true }) showSuggestion: boolean
  @Prop({ default: false }) canAddOwnOption: boolean
  @Prop({ default: true }) showAddOwnOption: boolean
  @Prop({ default: true }) hideEmpty: boolean
  @Prop({
    default () {
      return (input) => {
        return `Select ${input}`
      }
    }
  }) addNewOptionTextFormatter: Function
  // If the current values are not in the `options`
  // we need their label
  @Prop({ default () { return [] } }) valueMap: DropdownOption[]

  $refs: {
    input: PInputBlock,
    dropdown: PDropdown
  }
  isOpen = false
  searchString: InputValue = ''
  // newly created options
  appendOptions: DropdownOption[] = []
  currentIndex: number = 0

  @Watch('isOpen', { immediate: true })
  onIsOpenUpdated (isOpen) {
    this.$emit('onIsOpenUpdated', isOpen)
  }

  @Watch('options', { immediate: true })
  onOptionsUpdated (options) {
    if (!this.multiple && !Array.isArray(this.value)) {
      this.searchString = this.findOption(this.value).label
    }
  }

  get inputValue (): DropdownValue {
    return this.value
  }

  set inputValue (value) {
    if (!this.multiple) {
      // @ts-ignore
      this.searchString = this.findOption(value).label
    } else {
      this.searchString = ''
    }

    this.$emit('input', value)
  }

  get selectedOptions () {
    if (Array.isArray(this.inputValue)) {
      return this.inputValue.map(x => {
        return this.findOption(x)
      })
    } else {
      if (this.multiple) {
        return [this.findOption(this.inputValue)]
      }
      return this.findOption(this.inputValue)
    }
  }

  get allOptions () {
    return _.uniqBy([
      ...this.options,
      ...this.appendOptions,
      ...this.valueMap
    ], 'value')
  }

  get filteredOptions () {
    let options = [ ...this.allOptions ]

    if (this.filterOptions && this.excludeSelected && this.inputValue) {
      options = this.optionsWithoutSelected
    }

    if (this.filterOptions && !assertEmpty(this.searchString)) {
      options = options.filter((option) => {
        return assertStringContainsLoose(option.label, String(this.searchString))
      })
    }

    return options
  }

  get optionsWithoutSelected () {
    let options = [...this.allOptions]
    if (Array.isArray(this.inputValue)) {
      return options.filter(option => {
        // @ts-ignore
        return !this.inputValue.includes(option.value)
      })
    } else {
      return options.filter(option => {
        return option.value !== this.inputValue
      })
    }
  }

  get hasExactMatch () {
    return this.allOptions.filter(x => x.label === this.searchString).length
  }

  get assertShowNewOption () {
    if (this.hasExactMatch) {
      return false
    }

    return this.showAddOwnOption && this.canAddOwnOption && !assertEmpty(this.searchString)
  }

  get addNewOptionOption (): DropdownOption {
    return {
      value: this.searchString,
      label: this.searchString
    } as DropdownOption
  }

  get addNewOptionText () {
    return this.addNewOptionTextFormatter(this.searchString)
  }

  get slotOptions () {
    return {
      assertShowNewOption: this.assertShowNewOption,
      addNewOptionOption: this.addNewOptionOption,
      searchString: this.searchString,
      inputValue: this.inputValue,
      options: this.options,
      filteredOptions: this.filteredOptions,
      selectedOptions: this.selectedOptions,
      removeOptionFromSelected: this.removeOptionFromSelected,
      isOpen: this.isOpen,
      suggestion: this.suggestion,
      setSearchString: this.setSearchString,
      addOption: this.addOption,
      ...this.$props,
      ...this.$attrs
    }
  }

  get suggestion () {
    if (!this.showSuggestion || !assertShowSuggestion(this.filteredOptions, this.currentIndex, this.searchString, this.isOpen)) {
      return ''
    } else {
      return this.filteredOptions[this.currentIndex].label
    }
  }

  get assertHideEmpty () {
    if (this.assertShowNewOption) {
      return false
    }

    return this.hideEmpty
  }

  get assertSelectOnTab () {
    return !assertEmpty(this.searchString)
  }

  removeOptionFromSelected (option: DropdownOption) {
    if (Array.isArray(this.inputValue)) {
      this.inputValue = this.inputValue.filter(x => x !== option.value)
    } else {
      this.inputValue = ''
    }
  }

  addOption (option: DropdownOption) {
    this.appendOptions.push(option)
    // @ts-ignore
    this.$refs.dropdown.onSelect(option, true)
  }

  onDoShowDropdownUpdated (isOpen) {
    const hasOpenStatusChanged = this.isOpen !== isOpen

    if (hasOpenStatusChanged) {
      this.isOpen = isOpen

      if (!isOpen) {
        if (this.multiple) {
          this.searchString = ''
        } else {
          if (assertEmpty(this.searchString)) {
            this.inputValue = ''
          } else {
            const option = this.findOptionByLabel(this.searchString)

            this.searchString = option.label
          }
        }
      }
    }
  }

  findOption (value: InputValue, key = 'value') {
    const foundOption = this.options.find(x => x[key] === value)
    if (!foundOption) {
      if (this.canAddOwnOption) {
        return {
          value,
          label: value
        }
      } else {
        return {
          value: '',
          label: ''
        }
      }
    } else {
      return foundOption
    }
  }

  findOptionByLabel (label) {
    return this.findOption(label, 'label')
  }

  // when a select is called from the dropdown
  // we need to check if the user can select
  // something, if not and we can create a new option
  // select the new option
  onSelectCurrent (doesOptionExist) {
    if (!doesOptionExist) {
      if (this.assertShowNewOption) {
        this.addOption(this.addNewOptionOption)
      }
    } else {
      if (this.multiple) {
        this.searchString = ''
      }
    }
  }

  currentIndexUpdated (currentIndex) {
    this.currentIndex = currentIndex
    this.$emit('currentIndexUpdated', currentIndex)
  }

  setSearchString (searchString) {
    this.searchString = searchString
  }
}

const assertShowSuggestion = (options: DropdownOption[], currentIndex: number, searchString: InputValue, isOpen: boolean) => {
  if (!isOpen) {
    return false
  }

  if (!options || !options[currentIndex]) {
    return false
  }

  return !(!searchString || String(searchString).length < 2)
}
</script>

<style lang="sass" scoped>
</style>
