<template lang="pug">
  transition-group.p-notifications-root(:name="transition" :tag="tag")
    .p-notifications-root__notification(
      v-for="notification in notifications"
      :key="notification.id"
      :notification="notification"
    )
      slot(:notification="notification")
        p-notification-item(
          :notification="notification"
        )
          template(v-slot:icons="{}")
            slot(name="icons" :notification="notification")
          template(v-slot:undo="{}")
            slot(name="undo" :notification="notification")
          template(v-slot:dismiss="{}")
            slot(name="dismiss" :notification="notification")
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { pNotifications } from '@/components/PNotifications/PNotifications.Helpers'
import PNotificationItem from '@/components/PNotifications/PNotificationItem.vue'
import { PNotification } from '@/components/PNotifications/PNotifications.types'
@Component({
  components: { PNotificationItem }
})
export default class PNotificationsRoot extends Vue {
  @Prop({
    default: 'default'
  }) notificationGroup: string
  @Prop({
    default: null
  }) transition: string
  @Prop({
    default: 'div'
  }) tag: string

  get notifications (): PNotification[] {
    return pNotifications.notificationGroups[this.notificationGroup]
  }
}
</script>
