<template lang="pug">
  .p-notification-item__container
    .p-notification-item
      .p-notification__icon(v-if="icon" :class="icon")
          slot(name="icons")
            .p-notification__icon__default {{ icon }}
      .p-notification__text {{ notification.message }}
      .p-notification__undo(
        v-if="notification.undo"
        @click="undoAction"
      )
        slot(name="undo")
          .p-notification__undo__default() {{ notification.undo.text }}

      .p-notification__dismiss(@click="onDismiss")
        slot(name="dismiss")
          .p-notification__dismiss__default {{ notification.dismissText }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { PNotification } from '@/components/PNotifications/PNotifications.types'
import { pNotifications } from '@/components/PNotifications/PNotifications.Helpers'

@Component({})
export default class PNotificationItem extends Vue {
  @Prop({
    default () {
      return {} as PNotification
    }
  }) notification: PNotification

  mounted () {
    if (this.notification.delay !== 0) {
      setTimeout(() => {
        this.removeNotification()
      }, this.notification.delay)
    }
  }

  get icon () {
    return this.notification.icon
  }

  undoAction () {
    if (this.notification.undo && typeof this.notification.undo.action === 'function') {
      this.notification.undo.action()
    }
  }

  removeNotification () {
    // @ts-ignore
    pNotifications.removeNotification(this.notification)
  }

  onDismiss () {
    if (this.notification.onDismiss) {
      this.notification.onDismiss()
    }

    this.removeNotification()
  }
}
</script>

<style lang="sass" scoped>
</style>
