<template lang="pug">
  .p-smart-list
    .p-smart-list__item(v-for="(item, index) in items" :key="item._id")
      slot(:item="item" :index="index" :isLast="index === items.length - 1")
</template>

<script lang="ts">
// TODO: tests
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import { SmartListItem } from '@/components/PSmartList/SmartList.types'
import { isObjectEmpty } from '@/components/PSmartList/PSmartList.helpers'

@Component({})
export default class PSmartList extends Vue {
  @Prop({
    default: () => {
      return () => ({ _id: Math.random() })
    }
  }) emptyItem: SmartListItem | Function
  @Prop({
    default: () => []
  }) items: SmartListItem[]
  @Prop({
    default: () => [
      '_id'
    ]
  }) excludeKeys: string[]

  get preLastItem () {
    return this.items[this.items.length - 2]
  }

  get lastItem () {
    return this.items[this.items.length - 1]
  }

  @Watch('lastItem', { deep: true, immediate: true })
  onLastItemChange (item: SmartListItem) {
    item && !isObjectEmpty(item, this.excludeKeys)
      ? this.addEmptyItem()
      : null
  }

  @Watch('preLastItem', { deep: true, immediate: true })
  onPreLastItemChange (item: SmartListItem) {
    this.items.length > 1 && item && isObjectEmpty(item, this.excludeKeys)
      ? this.removeItem(this.items.length - 1)
      : null
  }

  @Watch('items.length', { immediate: true })
  onItemsLengthChange (length) {
    length === 0
      ? this.addEmptyItem()
      : null
  }

  addEmptyItem () {
    const emptyItem: SmartListItem = typeof this.emptyItem === 'function'
      ? this.emptyItem()
      : { ...this.emptyItem }

    this.$emit('update:items', [
      ...this.items,
      emptyItem
    ])
  }

  removeItem (index) {
    this.$emit('update:items', this.items.filter((_, i) => {
      return i !== index
    }))
  }
}
</script>
