<template lang="pug">
  .p-flex-table

    p-flex-table-header(:headerData="header" :sort="sort" @updateSort="updateSort")
      template(#default="{ cell }" v-if="$scopedSlots.headerCell")
        slot(name="headerCell" :cell="cell")

      template(#sorter="{ cell }" v-if="$scopedSlots.headerSorter")
        slot(name="header-sorter" :cell="cell")

    p-flex-table-body(:body-data="bodyData")
      template(#default="{ cell, index, cellIndex }" v-if="$scopedSlots.bodyCell")
        slot(name="bodyCell" :cell="cell" :index="index" :cell-index="cellIndex")
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import TableMixin from '@/mixins/table/tableMixin'
import PFlexTableHeader from '@/components/PFlexTable/PFlexTableHeader/PFlexTableHeader.vue'
import PFlexTableBody from '@/components/PFlexTable/PFlexTableBody/PFlexTableBody.vue'

@Component({
  components: { PFlexTableBody, PFlexTableHeader }
})
export default class PFlexTable extends mixins(TableMixin) {}
</script>

<style lang="sass" scoped>
</style>
