<template lang="pug">
  .p-flex-table__body__col__cell
    .p-flex-table__body__col__cell__content {{ cell.content }}
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { BodyCellType } from '@/components/PTable/PTableTypes'

@Component({})
export default class PFlexTableBodyCell extends Vue {
  @Prop() cell : BodyCellType
}
</script>

<style lang="sass" scoped>
</style>
