<template lang="pug">
  .p-flex-table__body
    .p-flex-table__body__row(
      v-for="(row, index) in bodyData"
      :key="row.id || index"
      :class="[row.class]"
      v-if="row"
    )
      .p-flex-table__body__col(
        v-for="(cell, cellIndex) in getRowData(row)"
        :key="cell.id || cellIndex"
        :class="cell.class"
        :colspan="cell.colspan || 1"
        v-if="!cell.hide"
      )
        .p-flex-table__body__col__content
          slot(:cell="cell" :index="index" :cell-index="cellIndex")
            p-flex-table-body-cell(:cell="cell")
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import PFlexTableBodyCell from '@/components/PFlexTable/PFlexTableBody/PFlexTableBodyCell.vue'
import tableBodyMixin from '@/mixins/table/tableBodyMixin'

@Component({
  components: { PFlexTableBodyCell }
})
export default class PFlexTableBody extends mixins(tableBodyMixin) {}
</script>

<style lang="sass" scoped>
.p-flex-table__body__row
  display: flex
  align-items: center

.p-flex-table__body__col
  flex: 1
  &:first-of-type
    padding-left: 16px
  &:last-of-type
    padding-right: 16px
</style>
