<template lang="pug">
  .p-month-picker__month-list(
    @keydown.esc="close()"
    @keydown.left="prevYear()"
    @keydown.right="nextYear()"
    tabindex="-1"
  )

    .p-month-picker__month-list__header
      .p-month-picker__month-list__header__arrow(@click="prevYear()")
        slot(name="dropdownArrowL")
      .p-month-picker__month-list__header__current-year {{ currentYearFormatted }}
      .p-month-picker__month-list__header__arrow(
        :class="{'p-date-picker__month-list__header__arrow--inactive': !canGoNext}"
        @click="nextYear()"
      )
        slot(name="dropdownArrowR")

    .p-month-picker__month-list__months
      month-list-item(v-for="month in months" :key="+month" :value="value" :month="month" @onClick="selectMonth" :locale="locale")
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { addMonths, addYears, format, isSameYear, startOfYear } from 'date-fns'
import MonthListItem from '@/components/PDatePicker/MonthList/MonthListItem.vue'

@Component({
  components: { MonthListItem }
})
export default class MonthList extends Vue {
  @Prop({
    default () {
      return new Date()
    }
  }) value: Date

  @Prop({
    required: true
  }) locale: any

  currentYear: Date = new Date()

  get currentYearFormatted () {
    return format(this.currentYear, 'YYYY', { locale: this.locale })
  }

  get months () {
    const start = startOfYear(this.currentYear)
    let months = []
    for (let i = 0; i < 12; i++) {
      months.push(addMonths(start, i))
    }
    return months
  }

  get canGoNext () {
    return !isSameYear(new Date(), this.currentYear)
  }

  selectMonth (month: Date) {
    this.$emit('selectMonth', month)
    this.close()
  }

  close () {
    this.$emit('close')
  }

  prevYear () {
    this.currentYear = addYears(this.currentYear, -1)
  }

  nextYear () {
    if (this.canGoNext) {
      this.currentYear = addYears(this.currentYear, 1)
    }
  }

  mounted () {
    this.currentYear = startOfYear(addMonths(this.value, 0))
    // @ts-ignore
    this.$el.focus()
  }
}
</script>

<style lang="sass">
.p-month-picker__month-list
  outline: none
  &__header
    display: flex
    justify-content: space-between
    &__arrow
      cursor: pointer
      &--inactive
        pointer-events: none
        opacity: .4

  &__months
    min-width: 72 * 3px
    display: flex
    flex-wrap: wrap
</style>
