<template lang="pug">
  .p-month-picker__month-list__item(
    @click="onClick"
    :class="classes"
  ) {{ monthFormatted }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { format, isAfter, isSameMonth } from 'date-fns'

@Component({})
export default class MonthListItem extends Vue {
  @Prop() value : Date
  @Prop() month : Date

  @Prop({
    required: true
  }) locale: any

  get monthFormatted () {
    return format(this.month, 'MMMM', { locale: this.locale })
  }

  get isActive () {
    return isSameMonth(this.month, this.value)
  }

  get isInFuture () {
    return isAfter(this.month, new Date())
  }

  get classes () {
    return {
      'p-month-picker__month-list__item--selected': this.isActive,
      'p-month-picker__month-list__item--disabled': this.isInFuture
    }
  }

  onClick () {
    if (!this.isInFuture) {
      this.$emit('onClick', this.month)
    }
  }
}
</script>

<style lang="sass">
.p-month-picker__month-list__item
  width: 33%
  min-width: 72px
  text-align: center
  flex-shrink: 0
  cursor: pointer
  &--disabled
    cursor: auto
</style>
