<template lang="pug">
  .p-collapse(
    :style="style"
    :class="{ 'p-collapse--overflow-hidden': overflowIsHidden }"
  )
    .p-collapse__container(ref="container")
      .p-collapse__wrapper(:style="{[direction]: openedContainerSize}")
        slot(v-if="showSlot")
</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import VueScrollTo from 'vue-scrollto'

@Component({})
export default class PCollapse extends Vue {
  $refs: {
    container: HTMLElement
  }

  @Prop({ default: false }) value : boolean
  @Prop({ default: 500 }) duration : number
  @Prop({ default: 'ease-in-out' }) easing : string
  @Prop() scrollToAfterClose : Element
  @Prop({ default: 'height' }) direction : string
  @Prop() elementToCollapse : string
  @Prop() excludeSizeOf : string | string[]

  showSlot : boolean = true
  overflowIsHidden : boolean = false
  containerSize : number | string = 'auto'
  contentSize : number | null = null
  timeout : any = null
  openedContainerSize : 'auto' | number = 0

  get style () {
    return {
      [this.direction]: this.containerSize,
      transition: `all ${this.duration / 1000}s ${this.easing}`
    }
  }

  @Watch('value', { immediate: true })
  async handler (value) {
    if (value) {
      this.showSlot = true
      this.overflowIsHidden = true

      await this.$nextTick()

      if (!this.$refs.container) {
        this.containerSize = 'auto'
        this.overflowIsHidden = false
        return
      }

      this.setContainerHeight()

      clearTimeout(this.timeout)
      this.timeout = setTimeout(() => {
        this.containerSize = 'auto'
        this.overflowIsHidden = false
      }, this.duration)
    } else {
      if (this.$refs.container) {
        this.setContainerHeight()
        this.overflowIsHidden = true

        await this.$nextTick()
        clearTimeout(this.timeout)

        await this.$nextTick()
        this.scrollAfterClose()
        this.timeout = setTimeout(() => {
          this.containerSize = 0
          this.timeout = setTimeout(() => {
            this.showSlot = false
          }, this.duration)
        })
      } else {
        this.containerSize = 0
        this.showSlot = false
        this.overflowIsHidden = true
      }
    }
  }

  @Watch('containerSize', { immediate: true })
  containerSizeHandler (val) {
    if (parseInt(val) > 0) {
      this.openedContainerSize = val
    } else if (val === 'auto') {
      this.openedContainerSize = 'auto'
    }
  }

  setContainerHeight () {
    if (this.elementToCollapse) {
      this.getElementToCollapse()
    } else {
      if (this.direction === 'height') {
        this.contentSize = this.$refs.container.scrollHeight
      } else {
        this.contentSize = this.$refs.container.scrollWidth
      }
    }
    this.containerSize = `${this.contentSize}px`
  }

  scrollAfterClose () {
    const rect = this.$el.getBoundingClientRect()
    if (rect.top <= 0) {
      VueScrollTo.scrollTo(this.scrollToAfterClose || this.$el.parentElement, 1, {
        easing: 'linear',
        force: false
      })
    }
  }

  getElementToCollapse () {
    const el = document.querySelector(this.elementToCollapse)
    const excludedSize = this.getExcludedElementsSize()

    if (el) {
      this.contentSize = el.getBoundingClientRect()[this.direction] - excludedSize
    } else {
      this.contentSize = this.$el.getBoundingClientRect()[this.direction] - excludedSize
    }
  }

  getExcludedElementsSize () {
    let size = 0

    if (Array.isArray(this.excludeSizeOf)) {
      this.excludeSizeOf.forEach(el => {
        let found = document.querySelector(el)

        if (found) {
          size += found.getBoundingClientRect()[this.direction]
        }
      })
    } else {
      let found = document.querySelector(this.excludeSizeOf)

      if (found) {
        size = found.getBoundingClientRect()[this.direction]
      }
    }

    return size
  }
}
</script>

<style lang="sass">
.p-collapse--overflow-hidden
  overflow: hidden
</style>
