<template lang="pug">
  .p-form
    slot
    slot(name="button")
</template>

<script lang="ts">
import { Vue, Component, Prop, Provide, Watch } from 'vue-property-decorator'
import { RegisterInjectionType } from '@/globalTypes'
import {
  InputStatusesType,
  InputWatcherType,
  PInputBlockType
} from '@/components/PForm/PFormTypes'

@Component({})
export default class PForm extends Vue {
  @Prop({ default: false }) showButton : boolean
  @Prop({
    default () {
      return () => { console.log('submit!') }
    }
  }) onSubmit : Function
  @Prop({ default: false }) value : boolean

  inputs : PInputBlockType[] = []
  watchers : InputWatcherType[] = []
  inputStatuses : InputStatusesType = {}

  @Provide() form : RegisterInjectionType = {
    register: this.register,
    unregister: this.unregister
  }

  @Watch('inputStatuses', { deep: true, immediate: true })
  inputStatusesHandler (inputStatuses : InputStatusesType) {
    const errors = Object.values(inputStatuses).includes(false)
    this.$emit('input', !errors)
  }

  register (input : PInputBlockType) {
    const watcher = this.createInputWatcher(input)
    this.inputs.push(input)
    this.watchers.push(watcher)
  }

  unregister (input : PInputBlockType) {
    const found = this.inputs.find(i => i._uid === input._uid)

    if (!found) {
      return
    }
    // const unwatch = this.watchers.find(i => i._uid === found._uid)
    // unwatch.valid && unwatch.valid()
    // unwatch.shouldValidate && unwatch.shouldValidate()

    this.watchers = this.watchers.filter(i => i._uid !== found._uid)
    this.inputs = this.inputs.filter(i => i._uid !== found._uid)
    this.$delete(this.inputStatuses, found._uid)
  }

  createInputWatcher (input : PInputBlockType) : InputWatcherType {
    const inputWatcher = (input: PInputBlockType) => {
      return input.$watch('isValid', val => {
        this.$set(this.inputStatuses, input._uid, val)
      }, { immediate: true })
    }

    return {
      _uid: input._uid,
      valid: inputWatcher(input)
    }
  }

  reset () {
    this.inputs.forEach(i => {
      i.reset()
    })
  }

  validate () {
    this.inputs.forEach(input => {
      input.onBlur()
    })
  }
}
</script>

<style lang="sass" scoped>

</style>
