<template lang="pug">
  .p-grid-table(:style="[tableStyle]")

    .p-grid-table__header(:style="[rowStyle]")
      .p-grid-table__header-cell(
        v-for="cell in headerData"
        :class={'clickable': true}
        @click="sortBy(cell.name)"
      )
        slot(
          name="header"
          :id="cell.name"
          :content="cell.content"
          :class="getHeaderClasses(cell)"
          :sort="sort"
        )
          .p-grid-table__header-cell__default(
            :class="getHeaderClasses(cell)"
            v-html="cell.content"
          )

    .p-grid-table__body-row(
      :style="[rowStyle]"
      v-for="row in tableRows"
    )
      .p-grid-table__body-cell(
        v-for="cell in cellsFrom(row)"
        @click="bodyCellOnClick(cell)"
      )
        slot(
          :name="cell.name"
          :content="cell.content"
          :class="getBodyClasses(cell)"
        )
          .p-grid-table__body-cell__default(
            :class="getBodyClasses(cell)"
          ) {{ cell.content }}

</template>

<script lang="ts">
import { Vue, Component, Prop, Watch } from 'vue-property-decorator'
import { orderBy } from 'lodash'
import {
  cellClasses, emptySizes, getRowStyle, getTableStyle,
  Sizes,
  Sort, validateColumnWidths
} from '@/components/PGridTable/PGridTable.helpers'

@Component({})
export default class PGridTable extends Vue {
  @Prop({ required: true }) body: any[]
  @Prop({ default: () => ({}) }) header: {}
  @Prop({ default: () => emptySizes() }) sizes: Sizes
  @Prop({ default: () => ({ key: '', asc: true }) }) defaultSort: {
    key: string,
    asc: boolean
  }
  bodyData = []
  sort: Sort = this.defaultSort

  get tableRows () {
    return this.bodyData
  }

  get headerData () {
    return getCellsFrom(this.header)
  }

  get tableStyle () {
    return getTableStyle(this.sizes, this.bodyData.length)
  }

  get rowStyle () {
    const { columnsWidths } = this.sizes

    const validatedWidths = validateColumnWidths(this.bodyData[0] || this.header, columnsWidths)

    return getRowStyle(validatedWidths)
  }

  @Watch('body', { immediate: true, deep: true })
  propRefreshHandler (body) {
    this.bodyData = body
  }

  @Watch('sort', { immediate: true, deep: true })
  sortHandler (sort) {
    const asc = sort.asc ? 'asc' : 'desc'
    if (sort.key) {
      this.bodyData = orderBy(this.bodyData, sort.key, asc)
    }
    this.$emit('sort-change', sort)
  }

  cellsFrom (row) {
    return getCellsFrom(row)
  }

  sortBy (columnName) {

    const customSortName = this.body.length
      ? this.body[0][columnName].$sort
      : null

    const keyName = customSortName || columnName

    const key = customSortName
      ? `${columnName}.content.${keyName}`
      : `${columnName}.content`

    const asc = key === this.sort.key
      ? !this.sort.asc
      : true

    this.sort = { key, asc }
  }

  bodyCellOnClick ({ $id }) {
    if ($id) {
      this.$emit('body-cell-on-click', $id)
    }
  }

  getHeaderClasses (cell) {
    return cellClasses(cell, 'header')
  }

  getBodyClasses (cell) {
    return cellClasses(cell, 'body')
  }
}

const getCellsFrom = (row) => Object.keys(row).map(key => {
  const { $class, $id } = row[key]

  return {
    name: key,
    content: row[key].content,
    $class,
    $id
  }
})
</script>

<style lang="sass" scoped>
.p-grid-table

  &__body-cell,
  &__header-cell
    border: 1px solid

.clickable
  cursor: pointer
</style>
