<template lang="pug">
  .p-tabs__item(v-if="tab === activeTab.value")
    slot
</template>

<script lang="ts">
import { Vue, Component, Prop, Inject } from 'vue-property-decorator'

@Component({})
export default class PTabsItem extends Vue {
  @Prop() tab : string

  @Inject() _tabs

  get activeTab () {
    return this._tabs().activeTab
  }
}
</script>

<style lang="sass" scoped>

</style>
