<template lang="pug">
  .p-tabs
    .p-tabs__header
      p-tabs-header-item(
        v-for="tab in tabs"
        :key="tab.value"
        :tab="tab"
        :is-active="tab.value === activeTab.value"
        @click.native="activeTab = tab"
      )
    slot(:activeTab="activeTab")
</template>

<script lang="ts">
import { Vue, Component, Prop, Provide } from 'vue-property-decorator'
import PTabsHeaderItem from '@/components/PTabs/PTabsHeaderItem.vue'
import { TabType } from '@/globalTypes'

@Component({
  components: { PTabsHeaderItem }
})
export default class PTabs extends Vue {
  @Prop() tabs : TabType[]
  @Prop({ default: null }) value : TabType | null

  localActiveTab : TabType = this.tabs[0]

  get activeTab () {
    return this.value || this.localActiveTab
  }
  set activeTab (value) {
    this.localActiveTab = value
    this.$emit('input', value)
  }

  @Provide() _tabs () {
    return {
      activeTab: this.activeTab
    }
  }
}
</script>

<style lang="sass" scoped>

</style>
