<template lang="pug">
  .p-tabs__header__item(:class="{'active': isActive}")
    .p-tabs__header__item__label {{ tab.label }}
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { TabType } from '@/globalTypes'

@Component({})
export default class PTabsHeaderItem extends Vue {
  @Prop() tab : TabType
  @Prop({ default: false }) isActive : boolean
}
</script>

<style lang="sass" scoped>
.active
  background: grey
</style>
