<template lang="pug">
  .p-date-picker(v-click-outside="close")
    slot(name="input")
      p-input-block.p-date-picker__input(
        v-bind="{...$props, ...$attrs}"
        v-model="formattedValue"
        :name="name"
        :readonly="!canWrite"
        @click.native="onInputFocus"
        :forceFocus="isOpen"
        @focus="onInputFocus"
      )

    transition(:name="transition")
      .p-date-picker__calendar(v-if="isOpen")
        .p-date-picker__calendar__header
          .p-date-picker__calendar__nav.p-date-picker__calendar__nav--prev(@click="addMonth(-1)")
            slot(name="prev") <

          .p-date-picker__calendar__header__month {{ monthFormatted }}

          .p-date-picker__calendar__nav.p-date-picker__calendar__nav--next(@click="addMonth(1)")
            slot(name="next") >

        .p-date-picker__calendar__month
          p-date-picker-month(
            :weekDayFormat="weekDayFormat"
            :locale="locale"
            :value="value"
            @input="onDaySelected"
            :month="month"
            :minDate="minDate"
            :maxDate="maxDate"
            :allowPast="allowPast"
          )

        .p-date-picker__calendar__footer
          slot(name="footer")
</template>

<script lang="ts">
import { Component, Vue, Prop, Watch } from 'vue-property-decorator'
import PInputBlock from '@/components/PInputBlock/PInputBlock.vue'
import PDatePickerMonth from '@/components/PDatePicker/Month/PDatePickerMonth.vue'
import enLocale from 'date-fns/locale/en'
import { addMonths, format, isBefore, startOfMonth, endOfMonth, isAfter, startOfDay } from 'date-fns'
import ClickOutside from 'vue-click-outside'

@Component({
  inheritAttrs: false,
  components: { PDatePickerMonth, PInputBlock },
  directives: {
    ClickOutside
  }
})
export default class PDatePicker extends Vue {
  @Prop({ default: false }) canWrite: boolean
  @Prop({ default () { return new Date() } }) value: Date
  @Prop({ default: 'DD.MM.YY' }) format: string
  @Prop({ default: null }) parser: Function
  @Prop({ default: 'MMMM YY' }) monthFormat: string
  @Prop({ default: 'dd' }) weekDayFormat: string
  @Prop({ default () { return enLocale } }) locale: Object
  @Prop({ default: '' }) name: string
  @Prop({ default: '' }) transition: string
  @Prop({ default: null }) minDate: Date
  @Prop({ default: null }) maxDate: Date
  @Prop({ default: false }) allowPast: boolean

  month = startOfMonth(new Date())
  isOpen = false

  @Watch('formattedValue', { immediate: true })
  onFormattedValueUpdated (formattedValue) {
    this.$emit('formattedValue', formattedValue)
  }

  get formattedValue () {
    return format(this.value, this.format, { locale: this.locale })
  }

  set formattedValue (value) {
    this.parser && typeof this.parser === 'function'
      ? this.$emit('input', this.parser(value))
      : null
  }

  get inputValue () {
    return this.value
  }

  set inputValue (value) {
    this.$emit('input', value)
  }

  get monthFormatted () {
    return format(this.month, this.monthFormat, { locale: this.locale })
  }

  get canGoBack () {
    const endOfPreviousMonth = () => endOfMonth(addMonths(this.month, -1))

    const minDateCondition = () => this.minDate != null
      ? isAfter(endOfPreviousMonth(), this.minDate)
      : true

    return !this.allowPast
      ? isAfter(endOfPreviousMonth(), new Date())
      : minDateCondition()
  }

  get canGoForward () {
    const startOfNextMonth = () => startOfMonth(addMonths(this.month, 1))
    return this.maxDate != null
      ? isBefore(this.minDate, startOfNextMonth())
      : true
  }

  addMonth (value) {
    if (value < 0 && !this.canGoBack) {
      return
    }

    if (value > 0 && !this.canGoForward) {
      return
    }

    this.month = startOfMonth(addMonths(startOfMonth(this.month), value))
  }

  onDaySelected (day: Date) {
    if (!this.allowPast && isBefore(day, startOfDay(new Date()))) {
      return
    }

    if (this.minDate && isBefore(day, this.minDate)) {
      return
    }

    if (this.maxDate && isAfter(day, this.maxDate)) {
      return
    }

    this.$emit('input', day)
    this.close()
  }

  onInputFocus () {
    this.isOpen = true
  }

  close () {
    this.isOpen = false
  }
}
</script>
