<template lang="pug">
  .p-month-picker(v-click-outside="close")

    .p-month-picker__input(
      :class="{'p-month-picker__input--focus': showDropdown}"
    )
      .p-month-picker__input__arrow(v-if="showArrows")
      .p-month-picker__input__date(@click="toggleShowDropdown") {{ formattedInput }}
      .p-month-picker__input__arrow(v-if="showArrows")

    .p-month-picker__dropdown
      transition(name="fade-from-top")
        .p-month-picker__dropdown__container(v-if="showDropdown")
          month-list(:locale="locale" v-if="showDropdown" @close="close" @selectMonth="selectMonth" :value="value")
            slot(name="dropdownArrowL" slot="dropdownArrowL")
            slot(name="dropdownArrowR" slot="dropdownArrowR")
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { format, isSameMonth } from 'date-fns'
import MonthList from '@/components/PDatePicker/MonthList/MonthList.vue'
import enLocale from 'date-fns/locale/en'
// @ts-ignore
import ClickOutside from 'vue-click-outside'

@Component({
  components: { MonthList },
  directives: {
    ClickOutside
  }
})
export default class PMonthPicker extends Vue {
  @Prop({
    default () {
      return new Date()
    }
  }) value: Date

  @Prop({
    default () {
      return enLocale
    }
  }) locale: any

  @Prop({
    default: false
  }) showArrows: boolean

  @Prop({
    default: 'MMMM YYYY'
  }) inputFormat: string

  showDropdown: boolean = false

  get canGoNext () {
    return !isSameMonth(new Date(), this.value)
  }

  get formattedInput () {
    return format(this.value, this.inputFormat, { locale: this.locale })
  }

  close () {
    this.showDropdown = false
  }

  toggleShowDropdown () {
    this.showDropdown = !this.showDropdown
  }

  selectMonth (month: Date) {
    this.$emit('input', month)
  }
}
</script>

<style lang="sass">
@import '../../styles/transitions'

.p-month-picker
  position: relative
  display: inline-block
  &__input
    display: flex
    &__date
      cursor: pointer
  &__dropdown
    position: absolute
    z-index: 1000
    top: 100%
    left: 50%
    transform: translateX(-50%)
    min-width: 100%
</style>
