<template lang="pug">
  .p-expander(
    :style="styles"
  )
    slot
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import {
  Boundaries, getDefaultBoundaries, getPositionFromStyle,
  getXPosition,
  getYPosition,
  parseDefaultPositionString,
  SimplePosition,
  xPositionStyle, yPositionStyle, getYPositionFromStyle, getBoundaries, getCenterTransform, OffsetStyle, getOffsetStyle
} from '@/components/PTooltip/ptooltip.helpers'

@Component({})
export default class PExpander extends Vue {
  @Prop({ default: 'top right' }) defaultPosition: string
  @Prop({ default: 0 }) xOffset: number
  @Prop({ default: 0 }) yOffset: number
  @Prop({ default: null }) expandTo: Element
  @Prop({ default: null }) parent: Element

  $el: HTMLElement
  boundaries: Boundaries = getDefaultBoundaries()

  mounted () {
    window.addEventListener('scroll', this.onScroll)
    window.addEventListener('resize', this.onResize)
    this.updateBoundaries()
  }

  destroyed () {
    window.removeEventListener('scroll', this.onScroll)
    window.removeEventListener('resize', this.onResize)
  }

  get styles () {
    return {
      ...this.yPositionStyle,
      ...this.xPositionStyle,
      transform: getCenterTransform({
        ...this.yPositionStyle,
        ...this.xPositionStyle
      }),
      ...this.offsetStyle
    }
  }

  get offsetStyle (): OffsetStyle {
    return getOffsetStyle(this.position, {
      xOffset: this.xOffset,
      yOffset: this.yOffset
    })
  }

  get parsedDefaultPosition (): SimplePosition {
    return parseDefaultPositionString(this.defaultPosition)
  }

  get position (): SimplePosition {
    return getPositionFromStyle({
      ...this.xPositionStyle,
      ...this.yPositionStyle
    })
  }
  get yPositionStyle (): yPositionStyle {
    return getYPosition(this.boundaries, this.parsedDefaultPosition)
  }

  get xPositionStyle (): xPositionStyle {
    const yPosition = getYPositionFromStyle(this.yPositionStyle)
    return getXPosition(this.boundaries, this.parsedDefaultPosition, yPosition)
  }

  @Watch('position', { immediate: true })
  @Watch('styles', { immediate: true })
  onPositionUpdated (position) {
    this.$emit('positionUpdated', position)
  }

  @Watch('expandTo', { immediate: true, deep: true })
  onViewportChanged () {
    this.updateBoundaries()
  }

  onScroll () {
    this.updateBoundaries()
  }

  onResize () {
    this.updateBoundaries()
  }

  updatePosition () {
    this.updateBoundaries()
  }

  updateBoundaries (isRecall = false) {
    if (!this.$el) {
      return
    }

    const elementBoundingClientRect = this.$el.getBoundingClientRect()
    const parent = this.parent ? this.parent : this.$el.parentElement
    const parentBoundingClientRect = parent ? parent.getBoundingClientRect() : elementBoundingClientRect

    const expandTo = this.expandTo ? this.expandTo : document.documentElement

    if (!expandTo) {
      return
    }

    const expandToBoundingClientRect = expandTo.getBoundingClientRect()

    const elementOffsetHeight = this.$el.offsetHeight

    if (elementOffsetHeight === 0 && !isRecall) {
      setTimeout(() => {
        this.updateBoundaries(true)
      }, 200)
    }

    this.boundaries = getBoundaries({
      elementBoundingClientRect,
      parentBoundingClientRect,
      elementOffsetHeight,
      expandToBoundingClientRect,
      xOffset: this.xOffset,
      yOffset: this.yOffset
    })
  }
}
</script>

<style lang="sass">
.p-expander
  position: absolute
  white-space: nowrap
  height: auto
</style>
