<template lang="pug">
  div
    .test-rig
      .test
        .label Tooltip
        .container.p(ref="containerT")
          div.draggable(ref="draggable")
            p-tooltip(:container="containerT" :alwaysVisible="true" position="top right" ref="tooltip")
              strong Hello&nbsp;World
              template(v-slot:tooltip="tooltip")
                p My name is Antoine, i love russia
      .test
        .label No space left & top
        .container(ref="container")
          .element
            p-expander(:expandTo="container")
              p My name is Antoine, i love russia

      .test
        .label No space top
        .container.c1(ref="container1")
          .element
            p-expander(:expandTo="container1")
              p My name is Antoine, i love russia

      .test
        .label No space right
        .container.c2(ref="container2")
          .element
            p-expander(:expandTo="container2")
              p My name is Antoine, i love russia

      .test
        .label No space bottom & left
        .container.c3(ref="container3")
          .element
            p-expander(:expandTo="container3")
              p My name is Antoine, i love russia

      .test
        .label No space bottom
        .container.c4(ref="container4")
          .element
            p-expander(:expandTo="container4")
              p My name is Antoine, i love russia

      .test
        .label No space bottom & right
        .container.c5(ref="container5")
          .element
            p-expander(:expandTo="container5")
              p My name is Antoine, i love russia

      .test
        .label Center right
        .container.c6(ref="container6")
          .element
            p-expander(:expandTo="container6" default-position="center right" xOffset="10")
              p Small

      .test
        .label Defaults to top center
        .container.c7(ref="container7")
          .element
            p-expander(:expandTo="container7")
              p My name is Antoine, i love russia

      .test
        .label Bottom Left + offset
        .container.c7(ref="container8")
          .element
            p-expander(:expandTo="container8" xOffset="10" yOffset="15" default-position="bottom left")
              p My name is Antoine, i love russia
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'
import PTooltip from '@/components/PTooltip/PTooltip.vue'
import PExpander from '@/components/PTooltip/PExpander.vue'
@Component({
  components: { PExpander, PTooltip }
})
export default class PTooltipTestArea extends Vue {
  containerT: Element | null = null
  container: Element | null = null
  container1: Element | null = null
  container2: Element | null = null
  container3: Element | null = null
  container4: Element | null = null
  container5: Element | null = null
  container6: Element | null = null
  container7: Element | null = null
  container8: Element | null = null

  mounted () {
    // @ts-ignore
    this.containerT = this.$refs.containerT
    // @ts-ignore
    this.container = this.$refs.container
    // @ts-ignore
    this.container1 = this.$refs.container1
    // @ts-ignore
    this.container2 = this.$refs.container2
    // @ts-ignore
    this.container3 = this.$refs.container3
    // @ts-ignore
    this.container4 = this.$refs.container4
    // @ts-ignore
    this.container5 = this.$refs.container5
    // @ts-ignore
    this.container6 = this.$refs.container6
    // @ts-ignore
    this.container7 = this.$refs.container7
    // @ts-ignore
    this.container8 = this.$refs.container8

    const _this = this
    function dragElement (elmnt) {
      var pos1 = 0
      var pos2 = 0
      var pos3 = 0
      var pos4 = 0
      if (document.getElementById(elmnt.id + 'header')) {
        // if present, the header is where you move the DIV from:
        // @ts-ignore
        document.getElementById(elmnt.id + 'header').onmousedown = dragMouseDown
      } else {
        // otherwise, move the DIV from anywhere inside the DIV:
        elmnt.onmousedown = dragMouseDown
      }

      function dragMouseDown (e) {
        e = e || window.event
        e.preventDefault()
        // get the mouse cursor position at startup:
        pos3 = e.clientX
        pos4 = e.clientY
        document.onmouseup = closeDragElement
        // call a function whenever the cursor moves:
        document.onmousemove = elementDrag
      }

      function elementDrag (e) {
        e = e || window.event
        e.preventDefault()
        // calculate the new cursor position:
        pos1 = pos3 - e.clientX
        pos2 = pos4 - e.clientY
        pos3 = e.clientX
        pos4 = e.clientY
        // set the element's new position:
        elmnt.style.top = (elmnt.offsetTop - pos2) + 'px'
        elmnt.style.left = (elmnt.offsetLeft - pos1) + 'px'
        // @ts-ignore
        _this.$refs.tooltip.updatePosition()
      }

      function closeDragElement () {
        // stop moving when mouse button is released:
        document.onmouseup = null
        document.onmousemove = null
      }
    }

    // @ts-ignore
    dragElement(this.$refs.draggable)
  }
}
</script>

<style lang="sass" scoped>
.test-rig
  display: flex
  flex-wrap: wrap
  justify-content: center
  padding: 30px
.test
  margin-right: 32px

.container
  margin: auto
  width: 400px
  height: 200px
  background-color: grey
  padding: 16px
  display: flex
  &.p
    display: block

.label
  text-align: center
  margin-top: 32px
  margin-bottom: 8px
  text-transform: uppercase

.c1
  justify-content: center

.c2
  justify-content: flex-end

.c3
  align-items: flex-end

.c4
  align-items: flex-end
  justify-content: center

.c5
  align-items: flex-end
  justify-content: flex-end

.c6,
.c7
  align-items: center
  justify-content: center

.element
  position: relative
  width: 30px
  height: 30px
  background-color: darkgrey

p
  margin: 0

.draggable
  position: absolute

.test-rig
  ::v-deep
    .p-tooltip__tip
      content: ''
      top: 100%
      left: 0px
      transform: translate(0, 0px) rotate(125deg) skewY(20deg)
      width: 9px
      height: 10px
      background: black
      box-shadow: 2px -2px 6px 0 rgba(53, 64, 82, 0.58)
</style>
