<template lang="pug">
  .p-tooltip
    .p-tooltip__content(ref="content")
      slot

      .p-tooltip__container(
        :class="{'p-tooltip__container--visible': alwaysVisible}"
      )
        .p-tooltip__tip__container(:class="tipClasses")
          slot(name="tip" :offsetStyles="offsetStyles")
            .p-tooltip__tip.p-tooltip__tip--default(:style="offsetStyles")
        p-expander.p-tooltip__tooltip(
          :expandTo="containerLocal"
          :parent="parent"
          :xOffset="xOffset"
          :yOffset="yOffset"
          :defaultPosition="position"
          @positionUpdated="onPositionUpdated"
          ref="tooltip"
        )
          slot(name="tooltip")
            span {{ text }}
</template>

<script lang="ts">
import { Component, Prop, Vue, Watch } from 'vue-property-decorator'
import PExpander from '@/components/PTooltip/PExpander.vue'
import { getOffsetStyle, SimplePosition, xPositionsEnum, yPositionsEnum } from './ptooltip.helpers'

@Component({
  components: { PExpander }
})
export default class PTooltip extends Vue {
  @Prop({ default: '' }) text: string
  @Prop({ default: 'top center' }) position: string
  @Prop({ default: null }) container: Element
  @Prop({ default: false }) parentIsContainer: Boolean
  @Prop({ default: false }) alwaysVisible: Boolean
  @Prop({ default: 0 }) xOffset: number
  @Prop({ default: 0 }) yOffset: number

  parent: Element | null = null
  containerLocal: Element | null = null
  tipClasses: any[] = []
  positionOfTooltip: SimplePosition = {
    x: xPositionsEnum.CENTER,
    y: yPositionsEnum.TOP
  }

  mounted () {
    // @ts-ignore
    this.parent = this.$refs.content

    if (this.parentIsContainer) {
      this.containerLocal = this.$el.parentElement
    } else {
      this.containerLocal = this.container
    }
  }

  @Watch('container', { immediate: true, deep: true })
  onContainerChanged () {
    if (this.parentIsContainer && this.$el) {
      this.containerLocal = this.$el.parentElement
    } else {
      this.containerLocal = this.container
    }
  }

  get offsetStyles () {
    return getOffsetStyle(this.positionOfTooltip, {
      xOffset: this.xOffset,
      yOffset: this.yOffset
    })
  }

  onPositionUpdated (position: SimplePosition) {
    this.positionOfTooltip = position
    this.tipClasses = [
      position.y,
      position.x === 'center' ? 'center-x' : position.x
    ]
  }

  updatePosition () {
    // @ts-ignore
    this.$refs.tooltip.updatePosition()
  }
}
</script>

<style lang="sass">
.p-tooltip
  display: inline-block

  &__container
    opacity: 0
    visibility: hidden
    &--visible
      opacity: 1
      visibility: visible

  &__content
    display: inline-block
    position: relative
    &:hover,
    &:focus
      .p-tooltip__container
        opacity: 1
        visibility: visible

.p-tooltip__tip__container
  position: absolute
  &.right
    left: 0
    right: auto
  &.left
    right: 0
    left: auto
  &.center-x
    left: 50%
    transform: translateX(-50%)

  &.top
    bottom: 100%
    top: auto

  &.center
    top: 50%
    &.right
      left: 100%
      right: auto
      transform: translateY(-50%) rotate(90deg)
    &.left
      right: 100%
      left: auto
      transform: translateY(-50%) rotate(-90deg)
  &.bottom
    top: 100%
    bottom: auto
</style>
