<template lang="pug">
  .story-block-wrapper
    slot
</template>

<script lang="ts">
import { Component, Vue } from 'vue-property-decorator'

@Component({})
export default class StoryBlockWrapper extends Vue {

}
</script>

<style lang="sass" scoped>
  .story-block-wrapper
    display: flex
    justify-content: center
</style>
