<template lang="pug">
  .p-date-picker__month
    .p-date-picker__day.p-date-picker__day--header(
      v-for="(day, index) in weekDays"
      :key="index"
    )
      .p-date-picker__day__content {{ day }}
    p-date-picker-day(
      v-for="day in days"
      :day="day"
      :key="+day"
      @selectDay="selectDay"
      :value="value"
      :month="month"
      :minDate="minDate"
      :maxDate="maxDate"
      :allowPast="allowPast"
    )
</template>

<script lang="ts">
import { Component, Vue, Prop } from 'vue-property-decorator'
import { createMonth, createWeek } from '@/utils/dates'
import PDatePickerDay from '@/components/PDatePicker/Month/PDatePickerDay.vue'
import { startOfMonth } from 'date-fns'

@Component({
  components: { PDatePickerDay }
})
export default class PDatePickerMonth extends Vue {
  @Prop({ default: null }) value: Date
  @Prop({ default: 'dd' }) weekDayFormat: string
  @Prop({
    default () {
      return {}
    }
  }) locale: Object
  @Prop({
    default () {
      return startOfMonth(new Date())
    }
  }) month: Date
  @Prop({ default: null }) minDate: Date
  @Prop({ default: null }) maxDate: Date
  @Prop({ default: false }) allowPast: boolean

  weekDays = createWeek(this.weekDayFormat, this.locale)

  get days () {
    return createMonth(this.month)
  }

  selectDay (day) {
    this.$emit('input', day)
  }
}
</script>
