<template lang="pug">
  .p-date-picker__day(
    :class="classes"
    @click="onClick"
  )
    .p-date-picker__day__content {{ day | day }}
</template>

<script lang="ts">
import { Component, Prop, Vue } from 'vue-property-decorator'
import { format, isBefore, isPast, isSameDay, isSameMonth, startOfDay, isAfter, endOfDay } from 'date-fns'

@Component({
  filters: {
    day (day) {
      return format(day, 'D')
    }
  }
})
export default class PDatePickerDay extends Vue {
  @Prop({ default: null }) value: Date
  @Prop({
    default () {
      return new Date()
    }
  }) month: Date
  @Prop({
    default () {
      return new Date()
    }
  }) day: Date
  @Prop({ default: false }) allowPast: boolean
  @Prop({ default: null }) minDate: Date
  @Prop({ default: null }) maxDate: Date

  get classes () {
    const classes = {
      'today': isSameDay(this.day, new Date()),
      'selected': this.isSelected,
      'disabled': !this.isClickable,
      'other-month': !this.isInCurrentMonth,
      'past': this.isPast
    }

    return Object.keys(classes).reduce((acc, key) => {
      acc[`p-date-picker__day--${key}`] = classes[key]
      return acc
    }, {})
  }

  get isInCurrentMonth () {
    return isSameMonth(this.day, this.month)
  }

  get isPast () {
    return isPast(endOfDay(this.day))
  }

  get isClickable () {
    if (!this.isInCurrentMonth) {
      return false
    }

    if (this.minDate && isBefore(startOfDay(this.day), startOfDay(this.minDate))) {
      return false
    }

    if (this.maxDate && isAfter(startOfDay(this.day), startOfDay(this.maxDate))) {
      return false
    }

    if (!this.allowPast) {
      return !this.isPast
    }

    return true
  }

  get isSelected () {
    return isSameDay(this.value, this.day)
  }

  onClick () {
    if (!this.isClickable) {
      return
    }

    this.$emit('selectDay', startOfDay(this.day))
  }
}
</script>
