<template>
  <svg
  xmlns="http://www.w3.org/2000/svg"
  xmlns:xlink="http://www.w3.org/1999/xlink"
  width="24"
  height="24"
  viewBox="0 0 24 24"
  >
  <defs>
  <path
  id="arrow-sorter"
  d="M11.856 7.144c.08-.08.201-.087.28-.007l.602.601a.195.195 0 0 1-.005.279l-3.216 3.216c-.079.079-.056.142.062.142h7.217c.113 0 .204.082.204.195v.86a.196.196 0 0 1-.204.195H9.579c-.113 0-.143.06-.062.142l3.216 3.216a.193.193 0 0 1 .005.279l-.601.601a.198.198 0 0 1-.281-.007l-4.712-4.712a.203.203 0 0 1 0-.288l4.712-4.712z"
  />
  </defs>
  <g
  fill="none"
  fill-rule="evenodd"
  >
  <path d="M0 0h24v24H0z" />
  <mask
  id="arrow-sorter-b"
  fill="#fff"
  >
  <use xlink:href="#arrow-sorter" />
  </mask>
  <use
  fill="#C8D2DD"
  xlink:href="#arrow-sorter"
  />
  <g
  fill="#FFF"
  mask="url(#arrow-sorter-b)"
  >
  <path d="M0 0h24v24H0z" />
  </g>
  </g>
  </svg>
</template>

<script lang="ts">
import { Vue, Component } from 'vue-property-decorator'

@Component({})
export default class Arrow extends Vue {}
</script>

<style lang="sass" scoped>

</style>
