<template lang="pug">
  .p-th-cell(v-if="cell")
    .p-th-cell-content {{ cell.content }}
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { HeaderCellType } from '@/components/PTable/PTableTypes'

@Component({})
export default class PTableHeaderCell extends Vue {
  @Prop() cell : HeaderCellType
}
</script>
