<template lang="pug">
  .p-sorter(:class="{'p-sorter--active': isActive, 'p-sorter--asc': isAsc}")
    .p-sorter__image
      slot
        .p-sorter__default-arrow
          arrow
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { TableSortType } from '@/components/PTable/PTableTypes'
import arrow from './Arrow.vue'

@Component({
  components: { arrow }
})
export default class PTableSorter extends Vue {
  @Prop({ required: true }) sortBy : string
  @Prop({ required: true }) sort : TableSortType

  get isActive () {
    return this.sortBy === this.sort.sortBy
  }

  get isAsc () {
    return this.sort.asc
  }
}
</script>

<style lang="sass">
.p-sorter
  cursor: pointer
  opacity: 0

  &--active
    opacity: 1

  &__image
    line-height: 1
  &--asc &__image
    transform: rotate(180deg)

  &__default-arrow
    transform: rotate(-90deg)
</style>
