<template lang="pug">
  thead
    tr.p-tr
      th.p-th.p-td(
        v-for="(cell, index) in headerData"
        :key="index"
        :cell="cell"
        :class="cell.class"
        :colspan="cell.colspan"
        @click="onClick(cell)"
      )
        .p-th-content
          slot(:cell="cell")
            p-table-header-cell(:cell="cell")
          p-table-sorter(v-if="sort && cell.sortBy" :sort="sort" :sort-by="cell.sortBy")
            slot(name="sorter" :cell="cell")
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import PTableSorter from '@/components/PTable/PTableHeader/PTableSorter.vue'
import PTableHeaderCell from '@/components/PTable/PTableHeader/PTableHeaderCell.vue'
import tableHeaderMixin from '@/mixins/table/tableHeaderMixin'

@Component({
  components: { PTableHeaderCell, PTableSorter }
})
export default class PTableHeader extends mixins(tableHeaderMixin) {}
</script>
