<template lang="pug">
  input.image-input(
    type="file"
    :accept="accept"
    @change="onInput"
    ref="input"
    :multiple="multiple"
  )
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { HTMLInputEvent } from '@/components/PImageLoader/PImageLoaderTypes'

@Component({})
export default class ImageLoader extends Vue {
  $refs: {
    input: HTMLInputElement
  }

  @Prop({
    default: 'image/jpg, image/png, image/jpeg'
  }) accept : string
  @Prop({
    default: 50 * 1024 * 1024
  }) maxSize : number
  @Prop({ default: false }) multiple : boolean

  async onInput (e : HTMLInputEvent) {
    if (e && e.target && e.target.files) {
      if (this.multiple) {
        for (let file of e.target.files) {
          this.changeImage(file, true)
        }
        this.$refs.input.value = ''
      } else {
        this.changeImage(e.target.files[0])
      }
    }
  }

  async changeImage (img : File, multiple = false) {
    if (!img) {
      return
    }
    if (!multiple) {
      this.$emit('onLoading')
    }
    const reader = new FileReader()
    reader.readAsDataURL(img)

    reader.onload = (e) => {
      // check the type of file
      if (!this.checkType(String(reader.result))) {
        this.$emit('onError', 'WRONG_TYPE')
      } else {
        // check the size of file
        if (e.total < this.maxSize) {
          this.$emit('onSuccess', e, img)
        } else {
          this.$emit('onError', 'TOO_BIG')
        }
      }
    }
    if (!multiple) {
      this.$refs.input.value = ''
    }
  }

  checkType (value : string) {
    let result = false
    let acceptList = this.accept.split(', ')
    acceptList.forEach((type) => {
      // @ts-ignore
      type = type.split('/')
      let regex = new RegExp(`(${type[0]}/${type[1]})`)
      if (value.match(regex)) {
        result = true
      }
    })
    return result
  }
}
</script>

<style lang="sass" scoped>

</style>
