<template lang="pug">
  .p-image-loader
    .p-image-loader__loading-state.state-container(v-if="currentState === 'isLoading'")
      slot(name="loading")
        .p-image-loader__default-loading-state loading

    .p-image-loader__image-container.state-container(v-if="currentState === 'isSuccess'")
      img(:src="imageURL")

    .p-image-loader__remove-button(v-if="currentState === 'isSuccess'" @click="onRemove")
      slot(name="remove-button")

    label.p-image-loader__loader(
      :class="{'p-image-loader__loader--on-image': imageURL}"
      v-show="currentState !== 'isLoading'"
    )
      image-loader(
        :accept="accept"
        :maxSize="maxSize"
        @onError="onError"
        @onSuccess="onNewFile"
        @onLoading="onLoading"
        :multiple="multiple"
      )
      .p-image-loader__empty-state.state-container(v-if="currentState === 'isEmpty'")
        slot(name="empty")
          .default empty
      .p-image-loader__error-state.state-container(v-if="currentState ==='isError'")
        slot(name="error" :message="errorMessage")
          .p-image-loader__default-error-state {{ errorMessage }}

</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import ImageLoader from '@/components/PImageLoader/ImageLoader.vue'

@Component({
  components: { ImageLoader }
})
export default class PImageLoader extends Vue {
  @Prop({ default: false }) multiple : boolean
  @Prop() imageURL : string
  @Prop() imageId : string
  @Prop() errorMessage : string
  @Prop({ default: 50 * 1024 * 1024 }) maxSize : number
  @Prop({ default: 'isEmpty' }) currentState : string
  @Prop({
    default () {
      return (file : Event, rawFile : File) => {
        console.log(`Don't forget add function to process ${file} or ${rawFile}`)
      }
    }
  }) onNewFile : Function
  @Prop({
    default () {
      return (error : string) => console.log(error)
    }
  }) onError : Function
  @Prop({
    default () {
      return () => console.log('loading')
    }
  }) onLoading : Function
  @Prop({
    default () {
      return () => console.log('remove method not set!')
    }
  }) onRemove : Function

  accept : string = 'image/jpg, image/png, image/jpeg'
}
</script>

<style lang="sass" scoped>
.p-image-loader
  height: 100%
  width: 100%
  position: relative

.state-container
  height: 100%
  width: 100%
  position: relative
  img
    width: 100%
    height: 100%
    object-fit: cover

.p-image-loader__loader
  cursor: pointer
  height: 100%
  width: 100%
  input
    display: none
  &--on-image
    position: absolute
    left: 0
    top: 0
    height: 100%
    width: 100%

.icon-container, .remove-button
  position: absolute
  left: 0
  top: 0
  height: fit-content
  width: fit-content
  cursor: pointer

</style>
