<template lang="pug">
  tbody
    tr.p-tr(
      v-for="(row, index) in bodyData"
      :key="row.id || index"
      :class="[row.class]"
      v-if="row"
      @click="onRowClick(row)"
    )
      td.p-td(
        v-for="(cell, cellIndex) in getRowData(row)"
        :key="cell.id || cellIndex"
        :class="cell.class"
        :colspan="cell.colspan || 1"
        v-if="!cell.hide"
        @click="onCellClick(cell)"
      )
        .p-td-content
          slot(:cell="cell" :index="index" :cell-index="cellIndex")
            p-table-body-cell(:cell="cell")
</template>

<script lang="ts">
import Component, { mixins } from 'vue-class-component'
import PTableBodyCell from '@/components/PTable/PTableBody/PTableBodyCell.vue'
import tableBodyMixin from '@/mixins/table/tableBodyMixin'

@Component({
  components: { PTableBodyCell }
})
export default class PTableBody extends mixins(tableBodyMixin) {}
</script>

<style lang="sass">
.p-td
  box-shadow: inset 0 -1px 0 0 #e8ecf2
  padding-top: 8px
  padding-bottom: 8px

.p-tr
  &:last-of-type
    .p-td
      box-shadow: none
</style>
