<template lang="pug">
  .p-td-cell
    .p-td-cell-content {{ cell.content }}
</template>

<script lang="ts">
import { Vue, Component, Prop } from 'vue-property-decorator'
import { BodyCellType } from '@/components/PTable/PTableTypes'

@Component({})
export default class PTableBodyCell extends Vue {
  @Prop() cell : BodyCellType
}
</script>
